<template>
  <div class="row m-0">
    <div class="col-12">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <div class="card-body p-0">
          <div
            class="d-flex p-4"
            data-toggle="collapse"
            href="#categories"
            role="button"
            aria-expanded="false"
            aria-controls="categories"
          >
            <i class="card__icon fas fa-bookmark text-primary"></i>
            <h5 class="card-title">Categories</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse p-4" id="categories">
            <span
              href="#"
              class="sidebar__option"
              v-for="(category, index) in formValues.categories"
              :key="index"
            >
              <i
                v-if="categoryIcon(category)"
                :class="`fas ${categoryIcon(
                  category
                )} text-primary card__icon pr-3`"
              ></i>
              {{ category | capitalize }}
              <label class="switch ml-auto">
                <input
                  type="checkbox"
                  :id="category"
                  :value="category"
                  v-model="search.categories"
                />
                <span class="slider round"></span> </label
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#state"
            role="button"
            aria-expanded="false"
            aria-controls="state"
          >
            <i class="card__icon fas fa-map-marker text-primary"></i>
            <h5 class="card-title">Address</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="state">
            <div class="form-group">
              <label class="form-control-label">Street</label>
              <input
                class="form-control"
                type="text"
                v-model="search.address"
                placeholder="Enter Street"
              />
            </div>
            <div class="form-group">
              <label class="form-control-label">Suburb</label>
              <input
                class="form-control"
                type="text"
                v-model="search.suburb"
                placeholder="Enter Suburb"
              />
            </div>
            <div class="form-group">
              <label class="form-control-label" for="statesSearch">State</label>
              <select
                multiple=""
                class="form-control"
                id="statesSearch"
                v-model="search.states"
              >
                <option
                  v-for="(state, index) in formValues.states"
                  :key="index"
                  :value="state"
                >
                  {{ state | capitalize }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#stage"
            role="button"
            aria-expanded="false"
            aria-controls="stage"
          >
            <i class="card__icon fas fa-ellipsis-h text-primary"></i>
            <h5 class="card-title">Stage</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="stage">
            <span
              href="#"
              class="sidebar__option"
              v-for="(stage, index) in formValues.stages"
              :key="index"
            >
              {{ stage | capitalize }}
              <label class="switch ml-auto">
                <input
                  type="checkbox"
                  :id="stage"
                  :value="stage"
                  v-model="search.stages"
                />
                <span class="slider round"></span> </label
            ></span>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#council"
            role="button"
            aria-expanded="false"
            aria-controls="council"
          >
            <i class="card__icon fas fa-book-open text-primary"></i>
            <h5 class="card-title">Council</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="council">
            <span
              href="#"
              class="sidebar__option"
              v-for="(council, index) in formValues.councils"
              :key="index"
            >
              {{ council | capitalize }}
              <label class="switch ml-auto">
                <input
                  type="checkbox"
                  :id="council"
                  :value="council"
                  v-model="search.councils"
                />
                <span class="slider round"></span> </label
            ></span>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#ownership"
            role="button"
            aria-expanded="false"
            aria-controls="ownership"
          >
            <i class="card__icon fas fa-lock text-primary"></i>
            <h5 class="card-title">Ownership</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="ownership">
            <span
              href="#"
              class="sidebar__option"
              v-for="(ownership, index) in formValues.ownerships"
              :key="index"
            >
              {{ ownership | capitalize }}
              <label class="switch ml-auto">
                <input
                  type="checkbox"
                  :id="ownership"
                  :value="ownership"
                  v-model="search.ownerships"
                />
                <span class="slider round"></span> </label
            ></span>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#value"
            role="button"
            aria-expanded="false"
            aria-controls="value"
          >
            <i class="card__icon fas fa-dollar-sign text-primary"></i>
            <h5 class="card-title">Value</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="value">
            <div class="contain multirange__container">
              <div class="multirange__split">
                <label class="multirange__label" for="min-input">Min</label>
                <label class="multirange__label" for="max-input">Max</label>
              </div>
              <div class="multirange__slider">
                <div class="cart-slider">
                  <vue-slider
                    v-model="search.values"
                    :min="0"
                    :max="formValues.maxVal"
                    tooltip="none"
                  ></vue-slider>
                </div>
              </div>
              <div class="multirange__split">
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.values[0]"
                    id="min-input"
                  />
                  <span class="multirange__input__tag">$</span>
                </div>
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.values[1]"
                    id="max-input"
                  />
                  <span class="multirange__input__tag">$</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#area"
            role="button"
            aria-expanded="false"
            aria-controls="area"
          >
            <i class="card__icon fas fa-cube text-primary"></i>
            <h5 class="card-title">Area</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="area">
            <div class="contain multirange__container">
              <div class="multirange__split">
                <label class="multirange__label" for="min-input"
                  >Min Site Area</label
                >
                <label class="multirange__label" for="max-input"
                  >Max Site Area</label
                >
              </div>
              <div class="multirange__slider">
                <div class="cart-slider">
                  <vue-slider
                    v-model="search.siteAreas"
                    :min="0"
                    :max="formValues.maxSiteArea"
                    tooltip="none"
                  ></vue-slider>
                </div>
              </div>
              <div class="multirange__split">
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.siteAreas[0]"
                    id="min-input"
                  />
                  <span class="multirange__input__tag">UNIT</span>
                </div>
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.siteAreas[1]"
                    id="max-input"
                  />
                  <span class="multirange__input__tag">UNIT</span>
                </div>
              </div>
            </div>
            <hr class="mt-4 pb-1" />
            <div class="contain multirange__container">
              <div class="multirange__split">
                <label class="multirange__label" for="min-input"
                  >Min Floor Area</label
                >
                <label class="multirange__label" for="max-input"
                  >Max Floor Area</label
                >
              </div>
              <div class="multirange__slider">
                <div class="cart-slider">
                  <vue-slider
                    v-model="search.floorAreas"
                    :min="0"
                    :max="formValues.maxFloorArea"
                    tooltip="none"
                  ></vue-slider>
                </div>
              </div>
              <div class="multirange__split">
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.floorAreas[0]"
                    id="min-input"
                  />
                  <span class="multirange__input__tag">UNIT</span>
                </div>
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.floorAreas[1]"
                    id="max-input"
                  />
                  <span class="multirange__input__tag">UNIT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#storey-units"
            role="button"
            aria-expanded="false"
            aria-controls="storey-units"
          >
            <i class="card__icon fas fa-layer-group text-primary"></i>
            <h5 class="card-title">Storeys &#38; Units</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="storey-units">
            <div class="contain multirange__container">
              <div class="multirange__split">
                <label class="multirange__label" for="min-input"
                  >Min Storeys</label
                >
                <label class="multirange__label" for="max-input"
                  >Max Storeys</label
                >
              </div>
              <div class="multirange__slider">
                <div class="cart-slider">
                  <vue-slider
                    v-model="search.storeys"
                    :min="0"
                    :max="formValues.maxStoreys"
                    tooltip="none"
                  ></vue-slider>
                </div>
              </div>
              <div class="multirange__split">
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.storeys[0]"
                    id="min-input"
                  />
                  <span class="multirange__input__tag">$</span>
                </div>
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.storeys[1]"
                    id="max-input"
                  />
                  <span class="multirange__input__tag">$</span>
                </div>
              </div>
            </div>
            <hr class="mt-4 pb-1" />
            <div class="contain multirange__container">
              <div class="multirange__split">
                <label class="multirange__label" for="min-input"
                  >Min Units</label
                >
                <label class="multirange__label" for="max-input"
                  >Max Units</label
                >
              </div>
              <div class="multirange__slider">
                <div class="cart-slider">
                  <vue-slider
                    v-model="search.units"
                    :min="0"
                    :max="formValues.maxUnits"
                    tooltip="none"
                  ></vue-slider>
                </div>
              </div>
              <div class="multirange__split">
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.units[0]"
                    id="min-input"
                  />
                  <span class="multirange__input__tag">$</span>
                </div>
                <div class="multirange__input">
                  <input
                    class="form-control"
                    type="number"
                    v-model="search.units[1]"
                    id="max-input"
                  />
                  <span class="multirange__input__tag">$</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!----><!---->
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card card--menu mb-4 mb-xl-0" show-footer-line="true">
        <!---->
        <div class="card-body">
          <div
            class="d-flex collapsed"
            data-toggle="collapse"
            href="#devType"
            role="button"
            aria-expanded="false"
            aria-controls="devType"
          >
            <i class="card__icon fas fa-hard-hat text-primary"></i>
            <h5 class="card-title">Development</h5>
            <div class="collapse-icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="collapse pt-4" id="devType">
            <span class="h6 font-weight-bold mt-4 mb-0">Type</span>
            <span
              href="#"
              class="sidebar__option"
              v-for="devType in formValues.devTypes"
              :key="devType"
            >
              {{ devType | capitalize }}
              <label class="switch ml-auto">
                <input
                  type="checkbox"
                  :id="devType"
                  :value="devType"
                  v-model="search.devTypes"
                />
                <span class="slider round"></span> </label
            ></span>
            <hr class="mt-4" />
            <span class="h6 font-weight-bold mt-4 mb-0">Status</span>
            <span
              href="#"
              class="sidebar__option"
              v-for="status in formValues.statuses"
              :key="status"
            >
              {{ status | capitalize }}
              <label class="switch ml-auto">
                <input
                  type="checkbox"
                  :id="status"
                  :value="status"
                  v-model="search.statuses"
                />
                <span class="slider round"></span> </label
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import VueSlider from 'vue-slider-component';
import 'vue-slider-component/theme/default.css';
import { mapGetters, mapActions } from 'vuex';

export default Vue.extend({
  name: 'FilterForm',
  components: {
    VueSlider,
  },
  filters: {
    capitalize(value: String) {
      if (!value) return '';
      return value
        .toLowerCase()
        .split(' ')
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
    },
  },
  methods: {
    ...mapActions(['filterResults']),
    categoryIcon(category: String) {
      switch (category) {
        case 'HOSPITALITY':
          return 'fa-cocktail';
        case 'COMMERCIAL PREMISES':
          return 'fa-building';
        case 'RETAIL':
          return 'fa-store-alt';
        case 'SOCIAL':
          return 'fa-user-friends';
        case 'PUBLIC BUILDINGS & FACILITIES':
          return 'fa-hospital';
        case 'SPORTS':
          return 'fa-futbol';
        case 'RESIDENTIAL':
          return 'fa-home';
        case 'EDUCATION':
          return 'fa-graduation-cap';
        case 'CIVIL ENGINEERING':
          return 'fa-hard-hat';
        case 'ENTERTAINMENT':
          return 'fa-film';
        default:
          return null;
      }
    },
  },
  data: () => ({
    search: {
      title: '',
      address: '',
      categories: [],
      subCategory: '',
      devTypes: [],
      stages: [],
      states: [],
      councils: [],
      ownerships: [],
      street: '',
      suburb: '',
      statuses: [],
      values: [0, 0],
      floorAreas: [0, 0],
      siteAreas: [0, 0],
      storeys: [0, 0],
      units: [0, 0],
    },
  }),
  computed: mapGetters({
    formValues: 'getFormValues',
  }),
  watch: {
    search: {
      handler() {
        this.filterResults(this.search);
      },
      deep: true,
    },
  },
});
</script>
