<template>
  <div class="card">
    <div class="card-body p-0">
      <div class="map__container">
        <div id="map" class="map__element"></div>
        <div class="map__counter">
          <div class="card">
            <div class="card-body">
              <span class="h5">
                <strong v-if="mapData">{{mapData.features.length}}</strong> Projects found
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import mapboxgl from 'mapbox-gl';

export default Vue.extend({
  name: 'Map',
  data: () => ({
    map: {} as {
      element: mapboxgl.Map;
      markers: mapboxgl.Marker[];
    },
  }),
  computed: mapGetters({
    mapData: 'getMapData',
  }),
  mounted() {
    this.initMap();
  },
  methods: {
    clearMarkers() {
      // Remove each marker individually
      this.map.markers.forEach((marker) => {
        marker.remove();
      });

      // Empty the array
      this.map.markers = [];
    },
    renderMarkers() {
      this.map.markers = this.mapData.features.map((marker: any) => {
        // create a DOM element for the marker
        const el = document.createElement('div');
        el.className = 'marker lg';

        // create the popup
        const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(`
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex">
              <span class="h3 font-weight-bold mb-0 mr-2">
                ${marker.properties.project.Title}
              </span>
            </div>
            <span class="h5 d-flex justify-content-between align-items-center py-3"> 
              <div class="multirange__input">
                <div class="form-control multirange__input__field">
                  ${Number(marker.properties.project.Value)} K 
                </div>
                <span class="multirange__input__tag">$</span>
              </div>
            </span>
            <p class="mb-0"><i class="fas fa-map-marker pr-2" aria-hidden="true"></i> ${marker.properties.project.Address}, ${marker.properties.project.Suburb}</p>
            <p class="mb-0"><i class="fas fa-layer-group pr-2" aria-hidden="true"></i>${marker.properties.project.Storeys} - Storey(s) </p>
            <p class="mb-0"><i class="fas fa-th-large pr-2" aria-hidden="true"></i>${Number(marker.properties.project.Units)} - Unit(s) </p>
            <p class="mb-0"><i class="fas fa-clone pr-2" aria-hidden="true"></i>${Number(marker.properties.project['Floor Area'])}² - Floor Area </p>
            <p class="mb-0"><i class="fas fa-clone pr-2" aria-hidden="true"></i>${Number(marker.properties.project['Site Area'])}² - Site Area </p>
          </div>
        </div>
        `);
        // marker.properties.project.Description,
        // add marker to map
        return new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .setPopup(popup)
          .addTo(this.map.element);
      });
    },
    initMap() {
      mapboxgl.accessToken = 'pk.eyJ1IjoiYmhhdmlubyIsImEiOiJja2ZybGMxbTkwNXZjMnhvMjI0MGoxMnpjIn0.1g4-FGHzZf4MBoOnzdGezw';
      this.map.element = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: -5, // starting zoom
      });

      this.map.element.on('load', () => {
        // Zoom control
        this.map.element.addControl(
          new mapboxgl.NavigationControl(),
          'bottom-right',
        );

        // GPS locator control
        this.map.element.addControl(
          new mapboxgl.GeolocateControl({
            positionOptions: {
              enableHighAccuracy: true,
            },
            trackUserLocation: true,
          }),
          'bottom-right',
        );

        // Scale measurement indicator
        this.map.element.addControl(
          new mapboxgl.ScaleControl({
            maxWidth: 80,
            unit: 'metric',
          }),
        );

        // Clear any existing markers
        if (this.map.markers) this.clearMarkers();

        // Render markers and fly to a coordinate if data is available
        if (this.mapData) {
          this.renderMarkers();

          // Fly to the first coordinate
          this.map.element.flyTo({
            center: [
              this.mapData.features[0].geometry.coordinates[0],
              this.mapData.features[0].geometry.coordinates[1],
            ],
            zoom: 15,
            essential: true,
          // this animation is considered essential with respect to prefers-reduced-motion
          });
        }
      });
    },
  },
  watch: {
    mapData: {
      handler() {
        // When data changes, erase old markers, and draw new ones
        if (this.mapData && this.map.markers) {
          this.clearMarkers();
          this.renderMarkers();
        }
      },
      deep: true,
    },
  },
});
</script>
