<template>
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex">
        <span class="h3 font-weight-bold mb-0 mr-auto">{{
          feature.properties.project.Title
        }}</span>
        <i
          v-if="categoryIcon(feature.properties.project.Category)"
          :class="`fas ${categoryIcon(
            feature.properties.project.Category
          )} text-primary card__icon`"
        ></i>
      </div>

      <span class="h5 d-flex justify-content-between align-items-center py-3">
        Value:
        <div class="multirange__input">
          <div class="form-control multirange__input__field">
            {{ Number(feature.properties.project.Value) + " K" }}
          </div>
          <span class="multirange__input__tag">$</span>
        </div>
      </span>
      <p class="mb-0">
        <i class="fas fa-map-marker pr-2"></i>
        {{ feature.properties.project.Address }},
        {{ feature.properties.project.Suburb | capitalize }},
        {{ feature.properties.project.State }}
      </p>
      <p class="mb-0">
        <i class="fas fa-layer-group pr-2"></i
        >{{ Number(feature.properties.project.Storeys) }} - Storey(s)
      </p>
      <p class="mb-0">
        <i class="fas fa-th-large pr-2"></i
        >{{ Number(feature.properties.project.Units) }} - Unit(s)
      </p>
      <p class="mb-0">
        <i class="fas fa-clone pr-2"></i
        >{{ Number(feature.properties.project["Floor Area"]) }}&sup2; - Floor
        Area
      </p>
      <p class="mb-0">
        <i class="fas fa-clone pr-2"></i
        >{{ Number(feature.properties.project["Site Area"]) }}&sup2; - Site Area
      </p>
      <div class="d-flex justify-content-between align-items-center pt-4">
        <span class="h5">
          <i class="fas fa-hammer pr-2 text-primary"></i
          >{{ feature.properties.project["Dev. Type"] }}
        </span>
        <span
          class="badge badge-lg"
          :class="{
            'badge-danger': feature.properties.project.Status === 'Deferred',
            'badge-secondary':
              feature.properties.project.Status === 'No further info available',
            'badge-success':
              feature.properties.project.Status !== 'Deferred' &&
              feature.properties.project.Status !== 'No further info available',
          }"
        >
          <i
            v-if="feature.properties.project.Status === 'Deferred'"
            class="fas fa-clock pr-2"
          ></i>
          <i
            v-else-if="
              feature.properties.project.Status === 'No further info available'
            "
            class="fas fa-exclamation pr-2"
          ></i>
          <i v-else class="fas fa-check pr-2"></i>

          {{ feature.properties.project.Status }}
        </span>
      </div>
      <div
        class="stage-progression__container"
        v-if="feature.properties.project.Stage !== 'DA Refused'"
      >
        <ul class="stage-progression">
          <li
            :class="{
              'is-complete': feature.properties.project.Stage !== 'DA Pending',
              'is-active': feature.properties.project.Stage === 'DA Pending',
            }"
          >
            DA Pending
          </li>
          <li
            :class="{
              'is-complete':
                feature.properties.project.Stage === 'Construction',
              'is-active': feature.properties.project.Stage === 'DA Approved',
            }"
          >
            DA Approved
          </li>
          <li
            :class="{
              'is-active': feature.properties.project.Stage === 'Construction',
            }"
          >
            Construction
          </li>
        </ul>
      </div>
      <p v-else class="text-muted text-center h5 pt-3">DA Rejected</p>
      <div class="d-flex justify-content-between">
        <span class="h6 font-weight-bold mt-4 mb-0">
          Start:
          {{ feature.properties.project["Completion Date"] | formatDate }}
        </span>
        <span class="h6 font-weight-bold mt-4 mb-0"
          >End:
          {{ feature.properties.project["Commence Date"] | formatDate }}</span
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import moment from 'moment';
import { mapGetters } from 'vuex';
import iconsAndTransform from '../mixins/iconsAndTransform';

export default Vue.extend({
  name: 'ProjectItem',
  props: ['feature'],
  mixins: [iconsAndTransform],
  computed: mapGetters({
    mapData: 'getMapData',
  }),
  filters: {
    formatDate(value: string) {
      if (!value) return '';
      return moment(value).format('Do MMMM, YYYY');
    },
  },
});
</script>
