<template>
  <div
    v-if="mapData && mapData.features && mapData.features.length"
    class="py-4"
  >
    <ProjectItem
      v-for="feature in mapData.features.slice(0, itemLimit)"
      :key="feature.properties.project['Project ID']"
      :feature="feature"
    />
    <!-- Limiting results so the DOM isn't overpopulated with excessive elements -->
    <button
      v-if="mapData && mapData.features && mapData.features.length > 5"
      class="btn btn-primary btn-lg w-100"
      @click="itemLimit = itemLimit + 5"
    >
      Display More Results
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import ProjectItem from './ProjectItem.vue';
import iconsAndTransform from '../mixins/iconsAndTransform';

export default Vue.extend({
  name: 'ProjectList',
  components: {
    ProjectItem,
  },
  data: () => ({
    itemLimit: 5,
  }),
  mixins: [iconsAndTransform],
  computed: mapGetters({
    mapData: 'getMapData',
  }),
});
</script>
