<template>
  <div class="sidebar p-4">
    <div class="row">
      <div class="col">
        <span class="h2 font-weight-bold text-white d-inline-block mb-3">
          Archistar Projects
        </span>
        <p class="text-white h5 mb-4">
          An elegant tool to help you find projects that meet a certain
          criteria.
        </p>
      </div>
      <FilterForm />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FilterForm from './FilterForm.vue';

export default Vue.extend({
  name: 'Sidebar',
  components: {
    FilterForm,
  },
});
</script>
