<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3">
        <Sidebar />
      </div>
      <div class="col-xl-3">
        <ProjectsList />
      </div>
      <div class="col-xl-6 py-4">
        <Map />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Sidebar from '@/components/Sidebar.vue';
import ProjectsList from '@/components/ProjectsList.vue';
import Map from '@/components/Map.vue';

import { mapActions } from 'vuex';
// Including Bootstrap js files into the main page
require('bootstrap');

export default Vue.extend({
  name: 'Home',
  components: {
    Sidebar,
    ProjectsList,
    Map,
  },
  methods: {
    ...mapActions(['fetchMapData', 'processFormValues']),
  },
  async mounted() {
    await this.fetchMapData();
    this.processFormValues();
  },
});
</script>
