.badge {
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  &.badge-lg {
    padding: 0.6rem 1em;
    font-size: 0.7rem;
  }
}

.badge-success {
  color: #178f5b;
  background-color: #b0eed3;
}

.badge-danger {
  color: #f80031;
  background-color: #fdd1da;
}

.badge-pill {
  padding-right: 0.875em;
  padding-left: 0.875em;
  border-radius: 10rem;
}
.badge {
  font-size: 66%;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  padding: 0.35rem 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 0.375rem;
}
