.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
  border-radius: 0.4rem;
  outline: 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.3);

  &__icon {
    font-size: 1.5rem;
    line-height: 1;
  }

  &-title {
    padding-left: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: auto;
  }

  
  // Open state
  .collapse-icon {
    transition: all 0.5s;
    transform: rotate(90deg);
  }
  
  // Collapsed state
  .collapsed .collapse-icon {
    transform: rotate(0deg);
  }
}