.map {
  &__container {
    position: relative;
    width: 100%;
    height: 95vh;
    border-radius: 0.5rem;
  }
  &__counter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
  }
  &__element { 
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    border: 3px solid white;
  }
}

.mapboxgl-popup {
  z-index: 2;
  max-width: 425px !important;
}
.mapboxgl-popup-content {
  padding: 0;
}
.mapboxgl-popup-close-button {
  background: rgb(255, 207, 215);
  z-index: 9;
  border: 3px solid white;
  border-radius: 50%;
  margin: 10px;
  padding: 0 4px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #6b1b1b;
}

.marker {
  &::before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50% 50% 50% 0;
    background: #1e8d5b;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1);
    transition: all 0.2s;
  
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-iteration-count: 200;
  }
  &:hover {
    position: absolute;
    z-index: 1;
    &::before {
      transform: rotate(-45deg) scale(1.5);
      background: rgb(59, 59, 59) ;
    }
  }
}