$multirange-container-radius: 0.375rem !default;
$multirange-container-background: transparent !default;
$multirange-label-font-size: rem-calc(16) !default;
$multirange-slider-padding-y: rem-calc(4) !default;
$multirange-slider-background: lighten(gray, 40%) !default;
$multirange-slider-height: rem-calc(4) !default;
$multirange-slider-handle-size: rem-calc(18) !default;
$multirange-slider-handle-border-radius: 100% !default;
$multirange-slider-handle-background: $white !default;
$multirange-slider-handle-border: 1px solid rgba(199, 199, 199, 1) !default;
$multirange-slider-fill: blue !default;
.multirange {
  &__container {
    background: $multirange-container-background;
    border-radius: $multirange-container-radius;
    &.large {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__split {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0 0;
  }
  &__label {
    font-size: $multirange-label-font-size;
    font-weight: 700;
    margin-bottom: 0;
    &.large {
      font-size: rem-calc(20);
      font-weight: 400;
    }
  }
  &__slider {
    padding: 1rem 0;
    width: 100%;
    padding-top: $multirange-slider-padding-y;
    padding-bottom: $multirange-slider-padding-y;
    .slider {
      background: $multirange-slider-background;
      height: $multirange-slider-height;
      &-fill {
        background: $multirange-slider-fill;
        height: $multirange-slider-height;
      }
      &-handle {
        width: $multirange-slider-handle-size;
        height: $multirange-slider-handle-size;
        border-radius: $multirange-slider-handle-border-radius;
        background: $multirange-slider-handle-background;
        box-shadow: 0px 0px 4px rgba(38, 38, 38, 0.15);
        border: $multirange-slider-handle-border;
      }
    }
  }
  &__input {
    width: 49%;
    max-width: 170px;
    position: relative;
    &__tag {
      font-size: rem-calc(12);
      font-weight: 700;
      padding: 0.5rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    input[type='number'],
    input[type='text'],
    &__field {
      font-size: rem-calc(14);
      text-align: right;
      //Remove Spinner
      &[type='number']::-webkit-inner-spin-button,
      &[type='number']::-webkit-outer-spin-button,
      &[type='text']::-webkit-inner-spin-button,
      &[type='text']::-webkit-outer-spin-button,
      &__field::-webkit-inner-spin-button,
      &__field::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    &__field { 
      background-color: #e3ebfa !important;
      border: 0 !important;
    }
  }
  &__slider .slider,
  &__split input {
    margin: 0;
  }
}

.multirange__large {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    font-size: rem-calc(20);
  }
  &__value {
    color: purple;
    font-size: rem-calc(30);
    text-align: center;
    font-weight: 700;
  }
  &__slider {
    padding: 1rem;
    width: 100%;
    .slider {
      background: $multirange-slider-background;
      height: rem-calc(10);
      border-radius: 0.375rem * 2;
      margin: 0;
      &-fill {
        background: $multirange-slider-fill;
        height: rem-calc(10);
        border-radius: 0.375rem * 2;
      }
      &-handle {
        width: rem-calc(24);
        height: rem-calc(24);
        border-radius: 100%;
        background: $white;
        box-shadow: 0px 0px 4px rgba(38, 38, 38, 0.15);
        border: 1px solid rgba(199, 199, 199, 1);
      }
    }
  }
}
