$sidebar-background: linear-gradient(87deg, #2dce89, #2dce86) !important;
.sidebar {
  // Keeping a static color as fallback for legacy browsers
  background: #2dce89;
  background: $sidebar-background;
  border: 0;
  border-radius: 0 0 0.4rem 0.4rem;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.4);

  // List for filter titles
  &__option {
    border-radius: 0.4rem;
    background: #e6e8e9;
    padding: 0.675rem 1rem;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    &:not(:first-of-type) {
      margin-top: 1.2rem;
    }
  }
}
