
.stage-progression__container {
	margin-top: 15px;
	.stage-progression {
		padding: 0;
		margin-bottom: 0;
		margin-left: 0;
		font-size: 0.75em;
		li {
			list-style: none;
			display: inline-block;
			width: 20%;
			position: relative;
			text-align: center;
			padding-top: 40px;
			font-weight: 600;
			font-size: .9em;
			color: #8898aa;
			&:nth-child(1).is-active {
				&:after {
					top: 8px;
				}
			}
			&:before {
				content: "";
				position: absolute;
				width: 110%;
				height: 8px;
				background-color: #EAE5E1;
				top: 0;
				left: -50%;
				border-radius: 10px;
			}
			&:first-child {
				&:before {
					content: none;
				}
			}
		}
		li.is-active {
			&:after {
				content: '';
				width: 20px;
				position: absolute;
				height: 20px;
				left: 50%;
				border-radius: 100%;
				display: block;
				text-align: center;
				margin: 0 auto 10px auto;
				background-color: #007bff;
				z-index: 5;
				top: -7px;
			}
			&:before {
				background-color: #007bff;
			}
		}
		li.is-complete {
			color: #1e8d5b;
			&:before {
				background-color: #007bff;
			}
		}
	}
}
@media (min-width: 568px) {
	.stage-progression__container {
		.stage-progression {
			li {
				width: 32%;
				padding-top: 20px;
			}
		}
	}
}
@media (min-width: 645px) {
	.stage-progression__container {
		margin-top: 40px;
		.stage-progression {
			font-size: 1em;
		}
	}
}
@media (min-width: 450px) {
	.stage-progression__container {
		.stage-progression {
			li {
				&:nth-child(1).is-active {
					&:after {
						top: -7px;
					}
				}
			}
		}
	}
}
