@import 'functions';
@import 'sidebar';
@import 'cards';
@import 'switch';
@import 'multirange';
@import 'stage-progression';
@import 'badge';
@import 'map';

body {
  font-family: Open Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: #525f7f;
  background-color: #eff4fc;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
}